// Common colors used

$primary: #7289da;
$second: #1e293b;
$bg-primary: #111827;

$text-primary: #ffffff;

// Bg colors
$bg-footer: $bg-primary;
$bg-header: $bg-primary;

// Main colors
$footer: $text-primary;
$header: $text-primary;
