// Common colors used

$primary: #7289da;
$second: #424549;
$bg-primary: #36393e;

$text-primary: #ffffff;

// Bg colors
$bg-footer: $bg-primary;
$bg-header: $bg-primary;

// Main colors
$footer: $text-primary;
$header: $text-primary;
