### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

# VSCode project files
.vscode

backend/client.json
backend/secret.json

# Ignore env files
*.env
*.env.development
