// Theme colors

// Primary colors
$primary-color: #211A1D;


// Secondary colors
$secondary-color: #6320EE;


// Tertiary colors
$tertiary-color: #8075FF;


// Quaternary colors
$quaternary-color: #F8F0FB;


// Quinary colors
$quinary-color: #CAD5CA;